.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 935px;
  background-image: url(../../img/header__bg.png);
  background-size: cover;
}



.header__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__satpaev-img {
  width: 272px;
  height: 359px;
}

.header__info {
  position: relative;
}

.header__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  padding-top: 210px;
}

.header__title {
  color: #fff;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 296px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 999px;
  background: #4ce976;
  text-align: center;
  cursor: pointer;

  &:hover {
    height: 55px;
    transition: 0.3s ease-in;
  }
}

.btn__text {
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}


@media (max-width: 985px) {
  .header__title {
    font-size: 48px;
  }
  .header__text {
    font-size: 24px;
  }
  .header__button {
    bottom: 32px;
    right: 0px;
    width: 245px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__text{
    padding-top: 100px;
  }
}


@media (max-width: 525px) { 
  .header__title {
    font-size: 36px;
  }

  .header__button {
    font-size: 16px;
    width: 190px;
    bottom: 18px;
  }
}


@media (max-width: 375px) { 
  .header__title {
    font-size: 30px;
  }

  .header__button {
    font-size: 12px;
    width: 150px;
    height: 40px;
    bottom: 15px;
    right: 10px;
  }

  .header__text {
    font-size: 18px;
  }
}